<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main factory page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/style.css" th:href="@{/style.css}"/>
</head>
<body>



<div class="factorieslist">
    <h1>Factories list</h1>
    <ul>
        <li th:each="factory: ${factory}">
            <a th:href="'/products/' + ${factory.id}" th:text="|${factory.name}|"></a>
        </li>
    </ul>
</div>


</body>
</html>